* {
    margin: 0;
    padding: 0;
}

.col-sm-6.showSlide h1 {
    font-size: 60px;
    line-height: 1.5;
    font-weight: 200;
    letter-spacing: 1px;
}

a.btn.btn-outline-secondary.nutxem {
    border-radius: 0px;
    color: #a99a9a;
}

a.btn.btn-outline-secondary.nutxem:hover {
    background-color: white;
    color: #312e2e;
}

a.navbar-brand {
    padding-top: 80px;
    /* height: 35px; */
}


.menutop{
    background-color: transparent;
}

.logonho{
    height: 45px;
    width: 225px;
}

.navbar-light .navbar-nav a.nav-link {
    color: gray;
    font-family: 'Pridi', serif;
    font-weight: 300;
    font-size: 16px;
    padding-top: 98px;
    padding-left: 20px;
}

.navbar-light .navbar-nav a.nav-link:hover {
    color: white;
}

.nav-item{
    text-align: center;
}

button.navbar-toggler.navbar-toggler-right:hover {
    background-color: white;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");    
}

@media (max-width:576px){
    * {}
}

@media (max-width: 767px){
    * {}

.col-sm-6.showSlide h1 {
    font-size: 30px;
}

.navbar-light .navbar-nav a.nav-link {
    padding-top: 13px;
    font-size: 15px;
    letter-spacing: 1.3px;
}

button.navbar-toggler.navbar-toggler-right {
    border-color: white;
}
.menutop {
    background-color: #323C46;
}

img.logonho {
    height: 34px;
    width: 160px;
}

a.navbar-brand {
    padding-top: 4px;
}

.container {
    width: 100%;
}
}